In [6]:
import json, sqlite3, pandas as pd,pprint, numpy as np
from diff_funcs import highlight_diff,load_dict,show_diff,drop_non_diff_rows,show_diff_all,show_diff_one,matching_cols,col_test
from IPython.display import display

In [7]:
    q2_key = "{\"year\":{\"0\":2012,\"1\":2018,\"2\":2017,\"3\":2016,\"4\":2010,\"5\":2009,\"6\":2020,\"7\":2015,\"8\":2014,\"9\":2011,\"10\":2019,\"11\":2008,\"12\":2007,\"13\":2006,\"14\":2003,\"15\":1996,\"16\":1989,\"17\":1988},\"count()\":{\"0\":6,\"1\":5,\"2\":3,\"3\":3,\"4\":3,\"5\":3,\"6\":2,\"7\":2,\"8\":2,\"9\":2,\"10\":1,\"11\":1,\"12\":1,\"13\":1,\"14\":1,\"15\":1,\"16\":1,\"17\":1}}"
    q2_student = "{\"raey\":{\"0\":2013,\"1\":2018,\"2\":2017,\"3\":2016,\"4\":2010,\"5\":2019,\"6\":2020,\"7\":2015,\"8\":2014,\"9\":2011,\"10\":2019,\"11\":2008,\"12\":2007,\"13\":2006,\"14\":2003,\"15\":1996,\"16\":1989,\"17\":1988},\"count\":{\"0\":7,\"1\":5,\"2\":3,\"3\":3,\"4\":3,\"5\":3,\"6\":2,\"7\":2,\"8\":2,\"9\":2,\"10\":1,\"11\":1,\"12\":1,\"13\":1,\"14\":1,\"15\":1,\"16\":1,\"17\":1}}"
    df = pd.read_json(q2_key)
    df2 = pd.read_json(q2_student)
    matching_cols(df,df2)

raey year       88.888889
count()     0.000000
dtype: float64 <class 'pandas.core.series.Series'>
count year        0.000000
count()    94.444444
dtype: float64 <class 'pandas.core.series.Series'>

In [8]:
student_dict = load_dict('student_dict-2021-10-13.json')
answer_dict = load_dict('c_answers.json')

In [9]:
def terminal(student_dict={},answer_dict={}):
    while(True):
        if not student_dict:
            student_dict_f = input('Enter the file or file path of the student dict JSON')
            student_dict = load_dict(student_dict_f)
        if not answer_dict:
            answer_dict_f = input('Enter the file or file path of the answer  dict JSON')
            answer_dict = load_dict(answer_dict_f)
        print('Enter 1 to view the diff of all students')
        print('Enter 2 to view the diff of a particular student')
        print('Enter e to quit')
        choice = input('Input: ')
        if 'e' in choice.lower():
            break
        choice = int(choice)
        only_diff = input('Show only rows that are different? (y/n): ')
        drop_same = True if 'y' in only_diff.lower() else False
        if choice == 1:
            show_diff_all(student_dict,answer_dict,drop_same=drop_same)
        if choice == 2:
            ccid = input('Enter the ccid to display the diff for: ')
            show_diff_one(ccid,student_dict,answer_dict,drop_same=True,check_points=True)

In [ ]:
terminal(student_dict=student_dict,answer_dict=answer_dict)

Enter 1 to view the diff of all students
Enter 2 to view the diff of a particular student
Enter e to quit
Input: 1
Show only rows that are different? (y/n): y
////////~~~~~~~~~~~~~~~~hayatsul-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~hayatsul-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~hayatsul-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ntabassu-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ntabassu-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ntabassu-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~kaiwen2-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~kaiwen2-2~~~~~~~~~~~~~~~~\\\\\\\\

////////~~~~~~~~~~~~~~~~kaiwen2-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ronggang-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ronggang-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ronggang-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~zhengdao-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~zhengdao-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~zhengdao-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
Enter 1 to view the diff of all students
Enter 2 to view the diff of a particular student
Enter e to quit
Input: 1
Show only rows that are different? (y/n): n
////////~~~~~~~~~~~~~~~~hayatsul-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~hayatsul-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~hayatsul-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ntabassu-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ntabassu-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ntabassu-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~kaiwen2-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~kaiwen2-2~~~~~~~~~~~~~~~~\\\\\\\\

////////~~~~~~~~~~~~~~~~kaiwen2-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ronggang-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ronggang-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~ronggang-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~zhengdao-1~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~zhengdao-2~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
////////~~~~~~~~~~~~~~~~zhengdao-3~~~~~~~~~~~~~~~~\\\\\\\\
The student has been awarded the points,
so the dataframes are equal
Enter 1 to view the diff of all students
Enter 2 to view the diff of a particular student
Enter e to quit